{% extends 'base.html.twig' %}

{% block title %}Edit Guide{% endblock %}

{% block body %}
    <h1>Edit Guide</h1>

    <form method="post">
        {{ form_widget(form) }}
        <button type="submit">Submit</button>
    </form>

{% endblock %}
